<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Cadastro de Produtos</title>
</head>
<body>
<div class="container">
    <h2>Cadastrar Produto</h2>

    <form th:action="@{/produtos/salvar}" method="post" enctype="multipart/form-data" th:object="${produto}">

    <label th:for="categoria">Categoria:</label>
        <select th:field="*{categoria}" required>
            <option value="">Selecione uma categoria</option>
            <option value="Aminoacidos">Aminoacidos</option>
            <option value="Hipercaloricos">Hipercaloricos</option>
            <option value="Pre-treino">Pre-treino</option>
            <option value="Proteinas">Proteinas</option>
            <option value="Termogenicos">Termogenicos</option>
            <option value="Vitaminas">Vitaminas</option>
        </select>

        <label>Nome do Produto:</label>
        <input type="text" th:field="*{nome}" required>

        <label>Preço:</label>
        <input type="number" th:field="*{preco}" step="0.01" min="0" required>

        <label>Imagem:</label>
        <input type="file" name="imagens" accept="image/*">
        <label>Quantidade:</label>
        <input type="number" th:field="*{quantidade}" min="0" required>


        <button type="submit">Cadastrar Produto</button>
    </form>

    <div class="mensagem">
        <p th:if="${mensagem}" th:text="${mensagem}"></p>
        <p th:if="${mensagemErro}" class="erro" th:text="${mensagemErro}"></p>
    </div>
</div>
</body>
</html>
